@using Entity
@model List<Question>
@{
    ViewBag.Title = "GetQuestions";
}

<div id="fh5co-blog">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 cart @item.Id" value="@item.Id">
                    <div class="fh5co-blog animate-box">
                        <a href="#"><img class="img-responsive" src="@item.ThumbnailURL" alt=""></a>
                        <div class="blog-text">
                            <h3>@item.QuestionContent</h3>

                            <p>
                                Cevaplamak için
                                <span>
                                    @Html.ActionLink("tıklayın", "CreateAnswer", "Answers", new { @questionid = item.Id }, new { @style = "color:oranged" })
                                </span>
                            </p>

                            <div class="row">
                                @if (item.PersonId == ViewBag.Person)
                                {
                                    <div class="comment col-md-6 text-left "><i value="@item.Id" class="far fa-trash-alt delete"></i></div>
                                }

                                <div class="comment colmd-6 text-right "><a href="/Answers/GetAnswers/@item.Id"><i class="far fa-comment-alt"></i>@item.Answers.Count</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="row text-center">
        @if (ViewBag.PrevVisible)
        {
            <a href="?catid=@ViewBag.catId&page=@Html.Raw(ViewBag.CurrentPage-1)">Önceki</a>
        }

        @{
            string c = string.Empty;
        }
        @for (int i = ViewBag.Start; i <= ViewBag.End; i++)
        {
            c = i == ViewBag.CurrentPage ? "active" : string.Empty;
            <a href="/Questions/GetQuestions?catid=@ViewBag.catId&page=@i" class="@c pagination">@i</a>

        }
        @if (ViewBag.NextVisible)
        {
            <a href="?catid=@ViewBag.catId&page=@Html.Raw(ViewBag.CurrentPage+1)">Sonraki</a>
        }

    </div>
</div>

<script>
    $(".delete").click(function () {
        var id = $(this).attr("value");
        $.ajax({
            url: "/Questions/DeleteQuestion/" + id,
            method: "POST",
            success: function (result) {
                if (result) {
                    $(".cart").each(function () {
                        if ($(this).hasClass(id)) {
                            $(this).fadeOut("normal");
                        }
                    });
                } else {
                    alert("Bir hata oluştu, işleminiz gerçekleştirilemedi.")
                }
            }
        })
    })

</script>
