@using Entity
@model List<Category>

<div id="fh5co-blog">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        @if (item.CategoryImageUrl == null)
                        {
                            <img class="img-responsive" src="~/Content/Theme/images/project-4.jpg" alt="CategoryImage">
                        }
                        else
                        {
                            <img class="img-responsive" src="@item.CategoryImageUrl" alt="CategoryImage">
                        }
                        <div class="blog-text">
                            <h3>@item.CategoryName</h3>

                            <p>
                                @item.CategoryName ile ilgili soruları görmek için
                                <span>
                                    @Html.ActionLink("tıklayın", "GetQuestions", "Questions", new { @catid = item.Id }, new { @style = "color:oranged" })
                                </span>
                            </p>

                            <p class="comment text-right">
                                <i class="fas fa-question-circle"></i> @item.Questions.Count
                            </p>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
