
<div id="fh5co-counter" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center animate-box">
                <span class="fh5co-counter js-counter" data-from="0" data-to="@ViewBag.Student" data-speed="3000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Öğrenci</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="fh5co-counter js-counter" data-from="0" data-to="@ViewBag.Teacher" data-speed="3000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Öğretmen</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="fh5co-counter js-counter" data-from="0" data-to="@ViewBag.Category" data-speed="3000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Kategori</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="fh5co-counter js-counter" data-from="0" data-to="@ViewBag.TotalQ" data-speed="3000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Toplam Soru</span>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-explore" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Learn Sayesinde</h2>
                <p>Fusce iaculis ultricies convallis. Duis ac nulla eu ligula convallis vehicula non id ligula. Donec imperdiet erat in nisl vestibulum lacinia. Suspendisse eget pellentesque neque, a pellentesque lorem. Nulla facilisi. </p>
            </div>
        </div>
    </div>
    <div class="fh5co-explore fh5co-explore1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 animate-box">
                    <img class="img-responsive" src="~/Content/Theme/images/work_1.png" alt="work">
                </div>
                <div class="col-md-4 col-md-pull-8 animate-box">
                    <div class="mt">
                        <h3>Yanıtsız soru kalmasın</h3>
                        <p>Ut nec eleifend ipsum, eu semper neque. Maecenas tincidunt, eros a ullamcorper vulputate, neque massa pulvinar velit, at varius enim nunc non arcu. Sed varius eu nisl in ultrices. </p>
                        <ul class="list-nav">
                            <li><i class="icon-check2"></i>Integer nec enim ac risus aliquam iaculis sit amet pellentesque enim. </li>
                            <li><i class="icon-check2"></i>Nunc nisi lacus, dapibus ac velit ac, placerat convallis orci. </li>
                            <li><i class="icon-check2"></i>Morbi mattis elit enim.</li>
                        </ul>
                       
                        <p>@Html.ActionLink("Kayıt Ol", "Register", "Members",null,new {@class="btn btn-primary btn-lg " })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fh5co-explore">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-pull-1 animate-box">
                    <img class="img-responsive" src="~/Content/Theme/images/work_1.png" alt="work">
                </div>
                <div class="col-md-4 animate-box">
                    <div class="mt">
                        <div>
                            <h4><i class="icon-user"></i>Alanlarında Uzman Öğretmenler</h4>
                            <p>Suspendisse eget pellentesque neque, a pellentesque lorem. Nulla facilisi. Duis tempor sagittis justo, non euismod enim.  </p>
                        </div>
                        <div>
                            <h4><i class="icon-video2"></i>Yakında video destekli çözümler</h4>
                            <p>Integer nec enim ac risus aliquam iaculis sit amet pellentesque enim. Nunc nisi lacus, dapibus ac velit ac, placerat convallis orci. Morbi mattis elit enim.  </p>
                        </div>
                        <div>
                            <h4><i class="icon-shield"></i>Başarıyı yakalayan öğrencilerimiz</h4>
                            <p>Nunc tristique consectetur lectus. Curabitur et nisl ut sem molestie maximus vitae sed nulla. Aenean non risus mollis mauris pretium molestie et tincidunt sapien. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
